#root {
  height: 100%;
  background: #222222;
  color: #FFFFFF;
}

/* ================================================================================================ */

.App {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(4rem, 0.5fr) 1fr 1fr 1fr 1fr;
  gap: 1.75rem;
  grid-template-areas:
    "HeaderCard HeaderCard HeaderCard HeaderCard"
    "FocusCard FocusCard FocusCard DetailTopCard"
    "FocusCard FocusCard FocusCard DetailCenterCard"
    "FocusCard FocusCard FocusCard DetailBottomCard"
    "SettingsOscillatorCard SettingsEnvelopeCard SettingsFilterCard SettingsVolumeCard";

  padding: 1.75rem 0 0 0;

  position: relative;
  max-width: 1440px;
  width: 100%;
  max-height: 1044px;
  height: 100%;

  margin: auto;

  filter: drop-shadow(0px 0px 0.5rem rgba(0, 0, 0, 0.5));
}


/* ================================================================================================ */

.HeaderCard,
.FocusCard,
.DetailTopCard,
.DetailCenterCard,
.DetailBottomCard,
.SettingsOscillatorCard,
.SettingsEnvelopeCard,
.SettingsFilterCard,
.SettingsVolumeCard {
  background: #333333;
  border-radius: 1.4rem;
}

/* ================================================================================================ */

.HeaderCard {
  grid-area: HeaderCard;
}

.FocusCard {
  grid-area: FocusCard;
}

.DetailTopCard {
  grid-area: DetailTopCard;
}

.DetailCenterCard {
  grid-area: DetailCenterCard;
}

.DetailBottomCard {
  grid-area: DetailBottomCard;
}

.SettingsOscillatorCard {
  grid-area: SettingsOscillatorCard;
}

.SettingsEnvelopeCard {
  grid-area: SettingsEnvelopeCard;
}

.SettingsFilterCard {
  grid-area: SettingsFilterCard;
}

.SettingsVolumeCard {
  grid-area: SettingsVolumeCard;
}

/* ================================================================================================ */

.SettingsOscillatorCard:hover {
  border: 2px solid #2F80ED;
  box-shadow: inset 0px 0px 10px #2F80ED;
}

.SettingsEnvelopeCard:hover {
  border: 2px solid #2F80ED;
  box-shadow: inset 0px 0px 10px #2F80ED;
}

.SettingsFilterCard:hover {
  border: 2px solid #2F80ED;
  box-shadow: inset 0px 0px 10px #2F80ED;
}

.SettingsVolumeCard:hover {
  border: 2px solid #2F80ED;
  box-shadow: inset 0px 0px 10px #2F80ED;
}