#root {
  height: 100%;
  background: #222222;
  color: #FFFFFF;
}

/* ================================================================================================ */

.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  max-width: 1440px;
  max-height: 1044px;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(4rem, 0.5fr) 1fr 1fr 1fr 1fr;
  gap: 30px;
  grid-template-areas:
    "HeaderCard HeaderCard HeaderCard HeaderCard"
    "FocusCard FocusCard FocusCard DetailTopCard"
    "FocusCard FocusCard FocusCard DetailCenterCard"
    "FocusCard FocusCard FocusCard DetailBottomCard"
    "SettingsOscillatorCard SettingsEnvelopeCard SettingsFilterCard SettingsVolumeCard";

  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
}


/* ================================================================================================ */

.HeaderCard,
.FocusCard,
.DetailTopCard,
.DetailCenterCard,
.DetailBottomCard,
.SettingsOscillatorCard,
.SettingsEnvelopeCard,
.SettingsFilterCard,
.SettingsVolumeCard {
  background: #333333;
  border-radius: 20px;
  border: 2px solid #333333;
}

/* ================================================================================================ */

.HeaderCard {
  grid-area: HeaderCard;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  gap: 30px;
  grid-template-areas: "Title Subtitle";
}

.FocusCard {
  grid-area: FocusCard;
}

.DetailTopCard {
  grid-area: DetailTopCard;
}

.DetailCenterCard {
  grid-area: DetailCenterCard;
}

.DetailBottomCard {
  grid-area: DetailBottomCard;
}

.SettingsOscillatorCard {
  grid-area: SettingsOscillatorCard;
}

.SettingsEnvelopeCard {
  grid-area: SettingsEnvelopeCard;
}

.SettingsFilterCard {
  grid-area: SettingsFilterCard;
}

.SettingsVolumeCard {
  grid-area: SettingsVolumeCard;
}

/* ================================================================================================ */

.SettingsOscillatorCard:hover {
  border: 2px solid #2F80ED;
  box-shadow: inset 0px 0px 10px #2F80ED;
}

.SettingsEnvelopeCard:hover {
  border: 2px solid #2F80ED;
  box-shadow: inset 0px 0px 10px #2F80ED;
}

.SettingsFilterCard:hover {
  border: 2px solid #2F80ED;
  box-shadow: inset 0px 0px 10px #2F80ED;
}

.SettingsVolumeCard:hover {
  border: 2px solid #2F80ED;
  box-shadow: inset 0px 0px 10px #2F80ED;
}

/* ================================================================================================ */

.HeaderText {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  margin-top: auto;
  margin-bottom: auto;
}

h1.HeaderText {
  grid-area: Title;
  font-size: 34px;
  margin-left: 30px;
  margin-right: auto;
}

h3.HeaderText {
  grid-area: Subtitle;
  font-size: 18px;
  margin-left: auto;
  margin-right: 30px;
}

/* ================================================================================================ */


.SettingsHeader {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  text-align: center;

  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;

  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: #4F4F4F;
}